.singleQuestion {
  font-family: var(--secondary-font);
  font-weight: 700;
  margin: 15px 5px;
  color: var(--secondary-color);
}
.singleQuestion h3 {
  font-family: var(--secondary-font);
  font-size: 16px;
}
.singleQuestion button {
  border-radius: 8px;
  background: none;
  border: 0.8px solid var(--secondary-color);
  font-size: 10.25px;
  margin: 10px 15px 0 0;
  padding: 4px 10px;
  cursor: pointer;
}
.btnsContainer {
  text-align: left;
  font-family: var(--main-font);
  margin-bottom: 10px;
}
